[submodule "QtScrcpy/QtScrcpyCore"]
	path = QtScrcpy/QtScrcpyCore
	# Modified by the ScrcpyGUI derivative project: HTTPS works without an SSH key.
	url = https://github.com/barry-ran/QtScrcpyCore.git
